body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #F6F6F6;
    font-family: Arial, Helvetica, sans-serif;
}

.tela{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
    gap: 40px;
}

div#content {
    width: 400px;
}

#content p, h1 {
    margin-bottom: 46px;
}

#content p {
    line-height: 2em;
}

strong#destaque {
    color: #22D4FD;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

a.btn{
    background-color: #22D4FD;
    color: #000000;
    
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;

    width: 150px;
    text-align: center;
    font-weight: bold;
}

a.btn:hover {
    background-color: #0ec0e8;
    transition: 0.5s;
}

img.dev {
    height: 397px;
}
